body {
    min-height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(to top,	#f3e8d6 0%, 	#fffefc 100%);
    min-height: 100vh;
    font-family: "Montserrat-Regular";
    color: #fff;
    font-size: 15px;
    margin: 0;
}

.backdrop {
    background-color: rgba(70, 97, 91, 0.1);
    text-align: center;
    padding: 20px 20px;
    color: rgb(30, 79, 47);
        ;position: relative;
     border-radius: 15px; 
     margin-left: 8%;
     margin-right: 8%;
    margin-top: 10%;
    margin-bottom: 10%;
}